<div class="footer">
    <div class="content">
        <div class="flex links">
            <p>Mellonn Products</p>

            <a>Open Mellonn Speak</a>
            <a>Help to Mellonn Speak</a>
            <a>Terms and Conditions</a>
            <a>Privacy Policy</a>
        </div>

        <div class="flex links">
            <p>Connect</p>
            
            <a>Contact Us</a>
            <a>LinkedIn</a>
            <a>Twitter</a>
            <a>Facebook</a>
            <a>Instagram</a>
        </div>
    </div>
</div>