<div class="footer">
    <div class="content">
        <div class="flex links">
            <p>Mellonn Products</p>

            <a href="https://app.mellonn.com">Open Mellonn Speak</a>
            <a href="https://mellonn.notion.site/Mellonn-Docs-02fdb2c3e03a4b7b917a30743daeaaed" target="_self">Help to Mellonn Speak</a>
            <a href="https://mellonn.notion.site/Terms-and-Conditions-92e458a5b84849678115777b473259ec" target="_self">Terms and Conditions</a>
            <a href="https://mellonn.notion.site/Privacy-policy-b9306d4ceaf44925ac97608a02cb87e2" target="_self">Privacy Policy</a>
        </div>

        <div class="flex links">
            <p>Connect</p>
            
            <a>Contact Us</a>
            <a href="https://www.linkedin.com/company/mellonn/"><i class="fa-brands fa-linkedin-in"></i>LinkedIn</a>
            <a href="https://twitter.com/MellonnOfficial"><i class="fa-brands fa-twitter"></i>Twitter</a>
            <a href="https://www.facebook.com/MellonnOfficial"><i class="fa-brands fa-facebook-f"></i>Facebook</a>
            <a href="https://www.instagram.com/mellonnofficial/"><i class="fa-brands fa-instagram"></i>Instagram</a>
        </div>

        <div class="flex links">
            <p>About Mellonn</p>
            
            <div class="about">
                <p>Møllehatten 9, 1. 3</p>
                <p>8240 Risskov</p>

                <a>CVR-nr. 42662984</a>
            </div>
            <a href="mailto:support@mellonn.com"><i class="fa-solid fa-envelope"></i>support@mellonn.com</a>
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Click me...</a>
        </div>
    </div>
</div>