.footer {
    height: auto;
    background-color: #50505010;
    user-select: none;
    padding: 0 30px;

    .content {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1000px;
        padding: 50px 0;
        display: flex;

        .flex {
            flex: 1;
        }

        .links {
            p {
                font-weight: bold;
            }

            a {
                display: block;
                margin-top: 10px;
                color: #50505099;
                text-decoration: none;
                cursor: pointer;

                transition: 0.2s;

                i {
                    margin-right: 8px;
                    color: #50505099;

                    transition: 0.2s;
                }

                .fa-linkedin-in {
                    margin-right: 11px;
                }

                .fa-facebook-f {
                    margin-right: 15px;
                }

                .fa-instagram {
                    margin-right: 11px;
                }
            }

            a:hover {
                color: #50505079;

                i {
                    color: #50505079;
                }
            }

            .about {
                p {
                    font-weight: normal;
                    color: #50505099;
                    margin: 0 0 5px 0;
                }

                p:first-child {
                    margin: 15px 0 0 0;
                }

                a {
                    cursor: auto;
                    margin-top: 0;
                }

                a:hover {
                    color: #50505099;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .footer {
        height: auto;

        .content {
            flex-direction: column;
            width: 200px;
            

            .links {
                margin-top: 30px;
            }

            .links:first-child {
                margin-top: 0;
            }
        }
    }
}