.content {
    max-width: 1200px;
    height: calc(100vh - 64px);
    position: relative;
    left: 50%;
    transform: translate(-50%);
    user-select: none;
    display: flex;
    overflow-y: hidden;

    .left {
        flex: 1;
        width: 100%;
        border-right: 1px solid #50505020;
        margin-right: 5px;
        padding: 0 10px;

        h1 {
            font-size: 1.4em;
        }

        ul {
            padding-left: 0;
        }

        li {
            list-style: none;
            line-height: 25px;

            transition: 0.2s;
        }

        .item {
            display: block;
            margin: 5px 0;
            padding-left: 15px;
            transition: 0.2s;
            cursor: pointer;
        }

        .item:hover {
            background-color: #50505010;
            border-radius: 5px;
        }

        .collapsible {
            .checkbox {
                display: none;
            }

            label {
                svg {
                    position: relative;
                    transform: rotate(90deg);

                    transition: 0.2s;
                }

                .triangle {
                    fill: #505050;
                    stroke: #505050;
                    stroke-width: 50;
                }
            }

            .list {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }

            li {
                margin: 5px 0 5px 30px;
                padding-left: 15px;
                cursor: pointer;
            }

            .checkbox:checked ~ .list {
                max-height: 400px;
            }

            .checkbox:checked ~ label {
                svg {
                    transform: rotate(180deg);
                }
            }

            li:hover {
                background-color: #50505010;
                border-radius: 5px;
            }
        }
    }

    .center {
        flex: 3;
        width: 100%;
        height: calc(100vh - 95px);
        padding: 10px;

        overflow-y: auto;
    }

    .right {
        flex: 1;
        width: 100%;
        margin-left: 5px;
        padding: 0 10px;

        h1 {
            font-size: 1.4em;
        }
    }
}