<div class="content">
    <h1 class="title">Our latest post</h1>
    <div class="top" *ngIf="!isLoading">
        <a class="latestPost" href="/blog/{{latestPost!.id}}" target="_self">
            <img src="{{latestPost!.pictureKey}}">
            <div class="description">
                <div class="category" *ngFor="let category of latestPost!.categories" (click)="chooseCategory(category!)">
                    <p>{{category}}</p>
                </div>
                <h1>{{latestPost!.title}}</h1>
            </div>
        </a>
        <div class="categories">
            <h2>Categories</h2>
            <div class="chosenCategory" *ngFor="let category of chosenCategories.sort()" (click)="chooseCategory(category)">
                <p>{{category}}</p>
            </div>
            <div class="category" *ngFor="let category of categories.sort() | categoryString:chosenCategories" (click)="chooseCategory(category)">
                <p>{{category}}</p>
            </div>
        </div>
    </div>
    <hr *ngIf="!isLoading">
    <div class="noPosts" *ngIf="!isLoading && (posts | category:chosenCategories).length == 0">
        <h2>We couldn't find any posts...</h2>
        <h3>You can try with some other search criteria, while we look in the basement.</h3>
    </div>
    <div class="postList" *ngIf="!isLoading">
        <a class="post" *ngFor="let post of posts | category:chosenCategories" id="{{post.id}}" href="/blog/{{post.id}}" target="_self">
            <img src="{{post.pictureKey}}">
            <div class="chosenCategory" *ngFor="let category of chosenCategories.sort()" (click)="chooseCategory(category)">
                <p>{{category}}</p>
            </div>
            <div class="category" *ngFor="let category of post.categories! | categoryString:chosenCategories" (click)="chooseCategory(category!)">
                <p>{{category}}</p>
            </div>
            <h1>{{post.title}}</h1>
        </a>
    </div>
    <div class="center" *ngIf="!isLoading && !isReadMoreLoading && ((posts | category:chosenCategories).length == (currentPage + 1) * pageSize)">
        <div class="readMore" (click)="readMore()">
            Read more
        </div>
    </div>

    <div class="loadingTop" *ngIf="isLoading">
        <div class="loadingLatest">
            <div class="loadingImg"></div>
            <div class="description">
                <div class="loadingCategory"></div>
                <div class="loadingTitle"></div>
            </div>
        </div>
        <div class="loadingCategories">
            <h2>Categories</h2>
            <div class="loadingCategory"></div>
        </div>
    </div>
    <hr *ngIf="isLoading">
    <div class="loadingContent" *ngIf="isLoading || isReadMoreLoading">
        <div class="loadingPost">
            <div class="loadingImg"></div>
            <div class="loadingCategory"></div>
            <div class="loadingTitle"></div>
        </div>
        <div class="loadingPost">
            <div class="loadingImg"></div>
            <div class="loadingCategory"></div>
            <div class="loadingTitle"></div>
        </div>
        <div class="loadingPost">
            <div class="loadingImg"></div>
            <div class="loadingCategory"></div>
            <div class="loadingTitle"></div>
        </div>
    </div>
</div>