<div class="page">
    <div class="content introduction">
        <div class="title">
            <h1>
                The new way of<br>
                <span class="orangeGradientText">transcribing interviews.</span>
            </h1>
            <h2>
                Mellonn Speak is a powerful tool to help you transcribe<br>
                your interviews quicker than ever before.
            </h2>
        </div>
    </div>
    <div class="mac">
        <img src="/assets/images/speak/mac2.jpg">
        <div class="textBox orangeGradientBG">
            <h1>Transcribe interviews with ease</h1>
            <hr>
            <p>
                Transcribing is a tedious and long process, and getting someone else to do it for you, is expensive and takes a long time.
                <br><br>With Mellonn Speak You can upload your recording and let the AI do the hard work for you, It's as easy as that!
            </p>
        </div>
    </div>

    <div class="highlights">
        <h1>Creating the transcription</h1>
        <p>
            We won't tell you how to do your interview, that's why we support 34 different languages/accents, and 9 different file types.
            <br><br>Then once You've recorded your interview, you can upload it in Mellonn Speak, then the AI will do it's magic.
        </p>

        <a href="https://mellonn.notion.site/Upload-a-recording-for-transcription-7f18ed5c849948d0be22bf5f8dd96dbc">
            <div class="highlight">
                <div class="highlightTitle">
                    <i class="fa-solid fa-microphone fa-2xl fa-fw" style="top: -3px;"></i>
                    <h2>Upload a recording</h2>
                </div>
                <p>
                    Record the interview with your favorite recording app/device, and upload it to Mellonn Speak. You will then have to wait for the AI to process the audio.
                </p>
                <div class="learnMore">
                    <h3>Learn more</h3>
                </div>
            </div>
        </a>
        <a href="https://mellonn.notion.site/Apply-labels-to-participants-691f9e14c37746199deb4b1c02b5c076">
            <div class="highlight">
                <div class="highlightTitle">
                    <i class="fa-solid fa-tags fa-2xl fa-fw" style="top: -2px;"></i>
                    <h2>Apply labels to participants</h2>
                </div>
                <p>
                    It isn't always easy to remember who said what, that's why you will be asked to apply labels, when you open the transcription the first time.
                    <br>You can always change them later.
                </p>
                <div class="learnMore">
                    <h3>Learn more</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="highlights">
        <h1>Editing the transcription</h1>
        <p>
            As we all know, AIs isn't perfect, and we won't lie this one isn't either.
            <br><br>That's why we didn't stop at getting an AI to transcribe an interview and then exporting it. We wanted to make it just as easy to edit the transcription afterwards.
            <br><br>You'll let the AI do the tedious parts of the job, and then You can change what needs changing, using the easy to use tools in Speak's arsenal.
        </p>

        <a href="https://mellonn.notion.site/Edit-the-speakers-Change-who-says-what-523fd8a1c93242b18cb3438d0cbba171">
            <div class="highlight">
                <div class="highlightTitle">
                    <i class="fa-solid fa-headphones fa-2xl fa-fw" style="top: -5px;"></i>
                    <h2>Listen while you edit</h2>
                </div>
                <p>
                    While editing a transcription, You can always listen to the recording. Speak will automatically select the part where you're currently editing.
                </p>
                <div class="learnMore">
                    <h3>Learn more</h3>
                </div>
            </div>
        </a>
        <a href="https://mellonn.notion.site/Edit-the-speakers-Change-who-says-what-523fd8a1c93242b18cb3438d0cbba171">
            <div class="highlight">
                <div class="highlightTitle">
                    <i class="fa-solid fa-users fa-2xl fa-fw" style="top: -2px;"></i>
                    <h2>Change who's talking when</h2>
                </div>
                <p>
                    To change who says what in the transcription, you can select the text and choose who said it. Could it get any easier?
                </p>
                <div class="learnMore">
                    <h3>Learn more</h3>
                </div>
            </div>
        </a>
        <a href="https://mellonn.notion.site/Change-what-s-been-said-a081c8b3d378416bbcd8c02cf49438a1">
            <div class="highlight">
                <div class="highlightTitle">
                    <i class="fa-solid fa-message fa-2xl fa-fw" style="top: -3px;"></i>
                    <h2>Change what's been said</h2>
                </div>
                <p>
                    Maybe you can't change what's been said in the real world, but You can change it in the transcription, we won't blame you.
                </p>
                <div class="learnMore">
                    <h3>Learn more</h3>
                </div>
            </div>
        </a>
    </div>
    <div class="highlights">
        <h1>Exporting the transcription</h1>
        <p>
            Once you're done editing the transcription, you can always export it and use it where ever you'll need it!
        </p>

        <a href="https://mellonn.notion.site/Export-transcription-8c41f01cb05f4758976ff5b9272a4194">
            <div class="highlight">
                <div class="highlightTitle">
                    <i class="fa-solid fa-file-arrow-down fa-2xl fa-fw" style="top: -3px;"></i>
                    <h2>Export as Word-document</h2>
                </div>
                <p>
                    You can always export the transcription as a Word-document (DOCX). DOCX-files are primarily used for Word-documents, but can also be use in a wide variety of other text editors.
                    <br>We're constantly working on adding other file types, if you have suggestions feel free to let us know!
                </p>
                <div class="learnMore">
                    <h3>Learn more</h3>
                </div>
            </div>
        </a>
        <a href="https://mellonn.notion.site/Privacy-policy-b9306d4ceaf44925ac97608a02cb87e2">
            <div class="highlight">
                <div class="highlightTitle">
                    <i class="fa-solid fa-lock fa-2xl fa-fw" style="top: -3px;"></i>
                    <h2>Your data is save with us</h2>
                </div>
                <p>
                    We only store the data you give us, and we can't identify any recordings uploaded to Mellonn Speak.
                    <br><br>Six months after a recording have been uploaded, they will be removed along with all the associated data. And if you want, You can always remove a recording or your account completely, this action won't take more than a minute, and we won't try and stop you!
                </p>
                <div class="learnMore">
                    <h3>Read our privacy policy</h3>
                </div>
            </div>
        </a>
    </div>


    <div class="getStarted">
        <img class="coverImg" alt="Speak is available on the most popular devices" src="/assets/images/speak/allProducts2.jpg">
        <h1>
            You wanna try the new way of<br>
            <span class="orangeGradientText">transcribing interviews?</span>
        </h1>
        <a class="webButton" href="https://app.mellonn.com">
            <p>Get started!</p>
        </a>
        <br>
        <div class="appButtons">
            <a href="https://apps.apple.com/dk/app/mellonn-speak/id1606186365?itsct=apps_box_promote_link&itscg=30200">
                <img alt="Get it on App Store" src="/assets/svg/app_store.svg">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.mellonn.speak&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                <img alt='Get it on Google Play' src='/assets/svg/google_play.svg'/>
            </a>
        </div>
    </div>
</div>