<div>
    <div class="content introduction">
        <div class="title">
            <h1>
                The new way of<br>
                <span class="orangeGradientText">transcribing interviews.</span>
            </h1>
            <h2>
                Mellonn Speak is a powerful tool to help you transcribe<br>
                your interviews quicker than ever before.
            </h2>
        </div>
    </div>
    <div class="mac01">
        <img src="/assets/images/speak/mac01.jpg">
        <div class="textBox middleRight orangeGradientBG">
            <h1>
                Title
            </h1>
            <hr>
            <p>
                Description
            </p>
        </div>
    </div>

    <div class="showcase">
        <div class="background orangeGradientBG">

        </div>
    </div>
</div>