<div class="header">
    <div class="content">
        <a routerLink="" class="logo"><img src="/assets/images/logoLightMode.png" alt="Mellonn - Home page"></a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navIcon"></span></label>
        <ul class="menu">
            <li><a href="/" target="_self">Speak</a></li>
            <li><a href="/blog" target="_self">Blog</a></li>
            <li><a href="https://docs.mellonn.com/" target="_self">Help</a></li>
            <li class="buttonLi"><a class="button" href="https://app.mellonn.com" target="_blank">Get started</a></li>
        </ul>
    </div>
</div>