<div class="header">
    <a routerLink="" class="logo"><img src="/assets/images/logoLightMode.png"></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navIcon"></span></label>
    <ul class="menu">
        <li><a routerLink="/speak">SPEAK</a></li>
        <li><a routerLink="/blog">BLOG</a></li>
        <li><a routerLink="/help">HELP</a></li>
        <li class="buttonLi"><a class="button" href="https://app.mellonn.com" target="_blank">GET STARTED</a></li>
    </ul>
</div>