.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }

    li a {
        display: block;
        padding: 20px 20px;
        margin: 5px 5px;
        text-decoration: none;
        cursor: pointer;
    }

    .button {
        margin: 2px;
        background-color: black;
        border-radius: 15px;
        box-shadow: 0px 2px 1px #00000024;
    }

    li a:hover,
    .menu-btn:hover {
        color: rgb(150, 150, 150);
    }

    .logo {
        display: block;
        float: left;
        font-size: 2em;
        padding: 10px 20px;
        margin: 5px 0;
        text-decoration: none;

        img {
            height: 36px;
        }
    }

    /* menu */

    .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    /* menu icon */

    .menu-icon {
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;

        .navIcon {
            background: #333;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;
        }

        .navIcon:before,
        .navIcon:after {
            background: #333;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }

        .navIcon:before {
            top: 5px;
        }

        .navIcon:after {
            top: -5px;
        }
    }

    /* menu btn */

    .menu-btn {
        display: none;
    }

    .menu-btn:checked ~ .menu {
        max-height: 300px;
    }

    .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

@media (max-width: 300px) {
    .header {
        .logo {
            img {
                height: 20px;
            }
        }
    }
}