/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Arial', sans-serif;
    color: #505050;
    user-select: none;
}

body {
    margin: 0;
}

h3 {
    font-size: 1.6em;
    margin: 15px 0;
}

h4 {
    font-size: 1.4em;
    margin: 15px 0;
}

h5 {
    font-size: 1.2em;
    margin: 15px 0;
}