.content {
    height: 600vh;

    .pageTitle {
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        top: 40vh;
        text-align: center;

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 1.7em;
        }

        h1:first-child {
            margin-bottom: 5px;
            font-size: 2.5em;
        }

        .icon {
            position: relative;
            top: 5px;
            margin-left: 10px;
            height: 50px;
            border-radius: 10px;
            display: inline-block;
        }
    }
}

canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    max-height: 100vh;
    max-width: 100vw;
    transform: translate(-50%, -50%);
}