.content {
    .titleSection {
        text-align: center;
        height: 350vh;

        .title {
            position: sticky;
            top: 50vh;
            transform: translate(0, -50%);
            overflow-x: hidden;
        }

        h1 {
            position: relative;
            font-size: 7.5vw;
            left: 15vw;
            white-space: nowrap;
        }
    }

    .highlightsSection {
        height: 800vh;
    }
}

canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    height: 56.25vw;
    width: 100vw;
    transform: translate(-50%, calc(-50% + 30px));
    z-index: 10;
}